* {
    box-sizing: border-box;
}
body {
    margin : 0px;
    padding-top: 70px;
    padding-left: 90px;
}
.header-box {
    background-color: white;
    height: 70px;
    display: flex;
    flex-direction : row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 15px;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
    z-index: 100;
}
.top-icons {
    height: 30px;
}
.hamburger {
    height: 30px;
    margin-right: 30px;
}
.youtube-logo {
    height: 28px;
    margin-right: 110px;
}
.search {
    display: flex;
    flex: 1;
}
.search-box {
    height: 46px;
    width: 100%;
    max-width: 450px;
    font-family: Roboto, Arial;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: inset 0px 0px 3px rgb(0, 0, 0, 0.1);
    border-style: solid;
    border-color: rgb(217, 217, 217);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-width: 1.5px;
    flex: 1;
}
.search-box::placeholder {
    color: rgb(106, 106, 106);
    font-weight: 400;
}
.search-box:focus-visible {
  outline: none;
}

.container-for-tooltip
{
    display: flex;
    flex-direction: column;
    position: relative;
}
.search-button-box {
    height: 46px;
    width: 80px;
    background-color: rgb(244, 244, 244);
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: rgb(217, 217, 217);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-width: 1.5px;
    margin-left: -1.5px;
    margin-right: 10px;
}
.search-button {
    height: 30px;
}
.tooltip {
    position: absolute;
    background-color: rgb(93, 93, 93);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.15s;
    white-space: nowrap;
}
.search-button-box:hover +.tooltip,
.voice-search-bg:hover +.tooltip,
.tooltip-box-right-side-icons:hover +.tooltip
{
    opacity: 0.9;
    cursor: pointer;
}
.tooltip-search .tooltip {
    left: 4px;
    bottom: -60px;
}
.tooltip-voice-search .tooltip {
    left: -60px;
    bottom: -60px;
}
.tooltip-upload .tooltip {
    left: -20px;
    bottom: -65px;
}
.tooltip-apps .tooltip {
    left: -45px;
    bottom: -65px;
}
.tooltip-notifications .tooltip {
    left: -35px;
    bottom: -65px;
}
.voice-search-bg {
    background-color: rgb(247, 247, 247);
    height: 46px;
    width: 46px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-left: 0px;
}
.voice-search {
    height: 30px;
}
.header-right-side-icons {
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-between;
    margin-left: 50px;
    align-items: center;
    flex-shrink: 0;
}
.notification {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    position: relative;
    height: 32px;
    width: 35px;
}
.notification-number {
    position: absolute;
    background-color: rgb(186, 46, 46);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 2px;
    top: 0;
    right: 0;
    z-index: 100;
}
.my-channel-picture {
    height: 38px;
    width: 38px;
    border-radius: 19px;
    margin-right: 0px;
}
.sidebar {
    position: fixed;
    left:0;
    margin-top: -1.5px;
    width: 90px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 200;
}
.sidebar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 87px;
    width: 100%;
}
.sidebar-box:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}
.sidebar-icon {
    height: 30px;
    margin-right: 30px;
    margin-left: 0px;
    margin-right: 0px;
}
.sidebar-title {
    font-size: 12px;
    margin-top: 10px;
}
.videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    background-color: rgb(245, 245, 245);
    padding: 30px;
}

@media (max-width: 800px) {
    .videos {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 801px) and (max-width: 1080px) {
    .videos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1081px) {
    .videos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-link {
    text-decoration: none;
    color: inherit;
}
.video-link:hover {
    cursor: pointer;
}

.thumbnail {
    width:100%;
    border-radius: 8px;
}
.video-description {
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-top: 10px;
}
.thumbnail-container {
    position: relative;
}
.profile-picture {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
.video-timing {
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 3px;
    font-family: Roboto, Arial;
    font-size: 14px;
    bottom: 10px;
    right: 5px;
}
p {
    font-family: Roboto, Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}
.video-title {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.video-channel {
    color: rgb(96, 96, 96);
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}